apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller
    app.kubernetes.io/name: k8s-postgresql-operator
    app.kubernetes.io/managed-by: kustomize
  name: k8s-postgresql-operator

---
apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: controller
    app.kubernetes.io/name: k8s-postgresql-operator
    app.kubernetes.io/managed-by: kustomize
  name: controller-service
spec:
  ports:
    - name: https
      port: 443
      protocol: TCP
      targetPort: 8443
  selector:
    control-plane: controller
    app.kubernetes.io/name: k8s-postgresql-operator

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller
  labels:
    control-plane: controller
    app.kubernetes.io/name: k8s-postgresql-operator
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    matchLabels:
      control-plane: controller
      app.kubernetes.io/name: k8s-postgresql-operator
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller
        app.kubernetes.io/name: k8s-postgresql-operator
    spec:
      # TODO(user): Uncomment the following code to configure the nodeAffinity expression
      # according to the platforms which are supported by your solution.
      # It is considered best practice to support multiple architectures. You can
      # build your manager image using the makefile target docker-buildx.
      # affinity:
      #   nodeAffinity:
      #     requiredDuringSchedulingIgnoredDuringExecution:
      #       nodeSelectorTerms:
      #         - matchExpressions:
      #           - key: kubernetes.io/arch
      #             operator: In
      #             values:
      #               - amd64
      #               - arm64
      #               - ppc64le
      #               - s390x
      #           - key: kubernetes.io/os
      #             operator: In
      #             values:
      #               - linux
      securityContext:
        # Projects are configured by default to adhere to the "restricted" Pod Security Standards.
        # This ensures that deployments meet the highest security requirements for Kubernetes.
        # For more details, see: https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - env:
        - name: VAULT_ADDR
          value: "http://192.168.0.36:8200"
        - name: VAULT_ROLE
          value: "k8s-postgresql-operator"
        - name: ENABLE_LEADER_ELECTION
          value: "true"
        command:
        - /app/manager
        args:
          - --health-probe-bind-address=:8081
        image: controller:latest
        name: manager
        ports:
          - containerPort: 8443
            name: https
          - containerPort: 8081
            name: httpprobe
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        # TODO(user): Configure the resources accordingly based on the project requirements.
        # More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        volumeMounts: []
      volumes: []
      serviceAccountName: controller
      terminationGracePeriodSeconds: 10
