---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - postgresql-operator.vyrodovalexey.github.com
  resources:
  - databases
  - postgresqls
  - users
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - postgresql-operator.vyrodovalexey.github.com
  resources:
  - databases/finalizers
  - postgresqls/finalizers
  - users/finalizers
  verbs:
  - update
- apiGroups:
  - postgresql-operator.vyrodovalexey.github.com
  resources:
  - databases/status
  - postgresqls/status
  - users/status
  verbs:
  - get
  - patch
  - update
