---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - instance.alexvyrodov.example
  resources:
  - databases
  - postgresqls
  - users
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - instance.alexvyrodov.example
  resources:
  - databases/finalizers
  - postgresqls/finalizers
  - users/finalizers
  verbs:
  - update
- apiGroups:
  - instance.alexvyrodov.example
  resources:
  - databases/status
  - postgresqls/status
  - users/status
  verbs:
  - get
  - patch
  - update
